In [4]:
import numpy as np 
import pandas as pd
df1 = pd.read_csv("/Users/mingshuoyu/Desktop/archive/crime.csv", engine = 'python')

In [5]:
df1.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [6]:
df2 = pd.read_csv("/Users/mingshuoyu/Desktop/archive/offense_codes.csv", engine = 'python')

In [7]:
df2.head()

   CODE                                     NAME
0   612         LARCENY PURSE SNATCH - NO FORCE
1   613                      LARCENY SHOPLIFTING
2   615  LARCENY THEFT OF MV PARTS & ACCESSORIES
3  1731                                   INCEST
4  3111                LICENSE PREMISE VIOLATION

In [8]:
print(len(df1))
print(len(df1.drop_duplicates(subset='INCIDENT_NUMBER', keep='first')))

319073
282517

In [9]:
df1=df1.drop_duplicates(subset='INCIDENT_NUMBER', keep='first').reset_index(drop=True)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282517 entries, 0 to 282516
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      282517 non-null  object
 1   OFFENSE_CODE         282517 non-null  int64
 2   OFFENSE_CODE_GROUP   282517 non-null  object
 3   OFFENSE_DESCRIPTION  282517 non-null  object
 4   DISTRICT             280934 non-null  object
 5   REPORTING_AREA       282517 non-null  object
 6   SHOOTING             626 non-null     object
 7   OCCURRED_ON_DATE     282517 non-null  object
 8   YEAR                 282517 non-null  int64
 9   MONTH                282517 non-null  int64
 10  DAY_OF_WEEK          282517 non-null  object
 11  HOUR                 282517 non-null  int64
 12  UCR_PART             282463 non-null  object
 13  STREET               273249 non-null  object
 14  Lat                  265313 non-null  float64
 15  Long                 265313 non-null  float64
 16  Location             282517 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 36.6+ MB

 As the report shows, there are null values in Shooting, UCR_PART, STREET, Lat, Long. For Shooting it make sense if there is no shooting behavior, it should be null. UCR_PART does not have huge impact on our analysis so we ignore for now. However, STREET, Lat, Long are some features we rely on when analysing the criminal behaviors so drop null values for those rows which is index 13,14,15.

In [16]:
df1 = df1.dropna(subset=['Lat','Long'])

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265313 entries, 0 to 282516
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      265313 non-null  object
 1   OFFENSE_CODE         265313 non-null  int64
 2   OFFENSE_CODE_GROUP   265313 non-null  object
 3   OFFENSE_DESCRIPTION  265313 non-null  object
 4   DISTRICT             263981 non-null  object
 5   REPORTING_AREA       265313 non-null  object
 6   SHOOTING             603 non-null     object
 7   OCCURRED_ON_DATE     265313 non-null  object
 8   YEAR                 265313 non-null  int64
 9   MONTH                265313 non-null  int64
 10  DAY_OF_WEEK          265313 non-null  object
 11  HOUR                 265313 non-null  int64
 12  UCR_PART             265259 non-null  object
 13  STREET               263725 non-null  object
 14  Lat                  265313 non-null  float64
 15  Long                 265313 non-null  float64
 16  Location             265313 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 36.4+ MB

In [18]:
print(len(df2))
print(len(df2.drop_duplicates(subset='CODE', keep='first')))

576
425

In [19]:
df2=df2.drop_duplicates(subset='CODE', keep='first').reset_index(drop=True)

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODE    425 non-null    int64
 1   NAME    425 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.8+ KB

In [21]:
df1.to_csv('crime_cleaned.csv', encoding='utf-8', index=False)

In [22]:
df2.to_csv('offense_codes_cleaned.csv', encoding='utf-8', index=False)